* {
  margin: 0;
  padding: 0;
}

body {
  /*Text Settings*/
  font-family: sans-serif;
  color: aliceblue;
  margin-top: 30px;

  /*Background Settings*/
  background-color: #144552;

  /*Flex Box Settings*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

.heading {
  height: 30vh;
  font-size: 80px;
}

/* Index.html Images Styling */
.image-container {
  height: 5vh;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
}

.image-title {
  font-size: 20px;
  font-weight: lighter;
  color: #2bfff4;
  margin-bottom: 10px;
}

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
  border-radius: 10%;
  border: 5px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #144552;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #2bfff4;
  width: 50%;
  color: aliceblue;
  position: relative;
  border-radius: 10px;
}

.close-button {
  color: #2bfff4;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #ff4d4d;
}

label {
  display: block;
  margin: 15px 0 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #2bfff4;
  border-radius: 5px;
  background-color: #186060;
  color: aliceblue;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Data Table Styling */
.data-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: sans-serif;
  color: aliceblue;
  background-color: #144552;
  border: 2px solid #2bfff4;
}

.data-table th,
.data-table td {
  border: 1px solid #2bfff4;
  padding: 10px 15px;
  text-align: left;
}

.data-table th {
  background-color: #2bfff4;
  color: #144552;
  text-transform: uppercase;
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  background-color: #186060;
}

.actions-container {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

/* Data Table Buttons Styling */
.action-button {
  background-color: #2bfff4;
  color: #144552;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: large;
}

.action-button:hover {
  background-color: aliceblue;
  color: #144552;
}

.edit-button {
  background-color: #2bfff4;
}

.remove-button {
  background-color: #ff4d4d;
  color: white;
}

.remove-button:hover {
  background-color: #ff9999;
}
