* {
  margin: 0;
  padding: 0;
}

body {
  /*Text Settings*/
  font-family: sans-serif;
  color: aliceblue;
  margin-top: 30px;

  /*Background Settings*/
  background-color: #144552;

  /*Flex Box Settings*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

.heading {
  height: 30vh;
  font-size: 80px;
}

/* Index.html Images Styling */
.image-container {
  height: 5vh;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
}

.image-title {
  font-size: 20px;
  font-weight: lighter;
  color: #2bfff4;
  margin-bottom: 10px;
}

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
  border-radius: 10%;
  border: 5px;
}

/* Data Table Styling */
.data-table {
  /* Table appearance */
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: sans-serif;
  color: aliceblue;
  background-color: #144552;
  border: 2px solid #2bfff4;
}

.data-table th,
.data-table td {
  /* Cell styling */
  border: 1px solid #2bfff4;
  padding: 10px 15px;
  text-align: left;
}

.data-table th {
  /* Header row styling */
  background-color: #2bfff4;
  color: #144552;
  text-transform: uppercase;
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  /* Zebra striping for rows */
  background-color: #186060; /* Slightly lighter shade for alternating rows */
}
