/* css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.landing-page {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-item {
    position: relative;
    width: 225px;
    height: 225px;
    image{
        max-width: 25%;
        max-height: 25%;
    }
}

.landing-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.landing-item img:hover {
    transform: scale(1.05);
}

/*.landing-title {*/
/*    position: relative;*/
/*    bottom: 10px;*/
/*    left: 10px;*/
/*    color: #fff;*/
/*    background-color: rgba(0, 0, 0, 0.6);*/
/*    padding: 5px 10px;*/
/*    border-radius: 5px;*/
/*}*/
